<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">
    <img class="rounded-circle" height="70px" src="https://marketplace.canva.com/EAESMsqG9rI/3/0/1600w/canva-grey-%26-green-elegant-minimal-good-taste-food-restaurant-logo-jeSR74GRMC8.jpg" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="ms-4 text-center nav-item active">
        <a style="width: 100px; background-color: rgba(255, 255, 255, 0.1);" class="border border-white rounded-3 nav-link text-white" href="#"> Anasayfa </a>
      </li>
      <li class="ms-4 text-center  nav-item">
        <a style="width: 100px; background-color: rgba(255, 255, 255, 0.1);" class=" border border-white rounded-3 nav-link text-white" href="#"> Mutfak </a>
      </li>
      <li class="ms-4 text-center nav-item">
        <a style="width: 100px; background-color: rgba(255, 255, 255, 0.1);" class=" border border-white rounded-3 nav-link text-white" href="#"> Resepsiyon </a>
      </li>
      <li class=" w-100 ms-4 text-center nav-item">
        <a  style="width: 100px; background-color: rgba(255, 255, 255, 0.1);"  class="border border-white rounded-3  nav-link text-white" href="#"> Vale </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5  row">
  <div class="col-3"></div>
  <div class="accordion col-6" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h3>Masa ekle</h3>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div>
            <label>Masa No</label>
            <select class="form-control mb-3" #UserGander>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
            </select>
            <button class="btn btn-dark form-control mb-3"(click)="addUser(UserGander.value)">Masa Ekle</button>
          </div>
           </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3>Sipariş Ekle</h3>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div>
            <label> Kategoriler </label>
            <select class="form-control mb-3">
              <option value="Deniz Ürünleri">Deniz Ürünleri</option>
              <option value="Black">Aperatifler</option>
              <option value="Green"> Kızartmalar </option>
              <option value="Blue">Makarnalar </option>
              <option value="Red">İçecekler</option>
              </select>
            <label> Deniz Ürünleri </label>
            <select class="form-control mb-3" #CarColor>

                <option value="Levrek">Levrek</option>
                <option value="Mezgit">Mezgit</option>
                <option value="Somon">Somon</option>
                <option value="Karides">Karides</option>
              </select> 
           
               <label>Not</label>
              <input type="text" #CarModel class="form-control mb-3">

            <label>Price</label>
            <input type="number" min="1"  #CarPrice class="form-control mb-3">

            <button class="btn btn-dark form-control" (click)="addCar(CarModel.value,CarColor.value,CarPrice.value)">
              Sipariş Ekle
            </button>
          </div>
           </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3>Hesap Oluştur</h3>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <label>Masa</label>
          <select class="form-control mb-3" #RentUser>
              <option value="{{item.Id}}"  *ngFor="let item of getUserList()">{{ item.Gander +" " }}</option>
          </select>
          <label>Yemek</label>
          <select class="form-control mb-3" #RentCar>
            <option value="{{item.Id}}"  *ngFor="let item of getCarList()"> Levrek- Default </option>
            <option value="{{item.Id}}"  *ngFor="let item of getCarList()"> {{ item.CarColor }}</option>
            
          </select>
          

          <label>Adet</label>
          <input type="number" value="1" min="1" #RentDay class="form-control mb-3">

          <button class="btn btn-dark form-control" (click)="addRentACar(RentUser.value,RentCar.value,RentDay.value)">
            Oluştur</button>  </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">

      
    
  </div>
  <div class="row mt-5">
      <div class="col-3"></div>

      <div class="col-6 mb-5 text-center">
          <h2>Yemekler</h2>
          <hr>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Yemek</th>
                <th>Not</th>
                <th>Fiyat</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getCarList()">
                <td>{{ item.Id }}</td>
                <td>{{ item.Color }}</td>
                <td>{{ item.Model }}</td>
                <td>{{ item.Price+" TL" }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-3"></div>
      <div class="col-3 mb-5"></div>
      <div class="col-6 text-center">
          <h2>Siparişler</h2>
          <hr>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Masa no</th>
                <th>Adet</th>
                <th>Hesap</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getRentACarList()">
                <td>{{ item.Id }}</td>
                <td>{{ item.Gander }}</td>
                <td>{{ item.Day }}</td> 
                <td>{{ item.TotalPrice+" TL" }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      
  </div>
</div>